body {
	background-color: #1F1A67;;

}

.container {
	width: 1000px;
	margin: auto;
	padding : 0 px 10px;
	background-color: #010242;
}

.sidebar {
	width: 400px;
	float: left;
}

.content {
	width: 600px;
	float: right;
}

.clear {
	clear: both;
}

#logo {
	float: left;
	width: 200px;
	height: auto;
	padding: 20px;
}

#logo img {
	max-width: 100%;
	height: auto;
}

#menu {
	padding : 60px 0px;
	float: right;
	width: 750px;
	color: white;
}

#menu li {
	float: left;
	list-style: none;
	margin: 0px 10px;
}

#menu li a{
	color: whitesmoke;
	font-family: Verdana, Feneva, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

.blog-content {
	float: left;
	max-width: 250px;
	margin: 0px 10px 20px 10px;
	display: inline-block;

}

.blog-content img {
	width: 100px;
	height: 100px;
	object-fit: ;
}
h2, p {
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: blue;
}

#recent-article {
	padding: 0px 10px;
}
#recent-article ul {
	padding: 0px;
	margin-left: 20px;
	list-style: none;
}

.terbaru {
	margin-left: 20px;
}